<div class="col-sm-3 offset-1 blog-sidebar">

  <div class="sidebar-module sidebar-module-inset">
    <h2>Topics</h2>
    <% @side_bar_topics.each do |topic|  %>
      <p><%= link_to topic.title, topic_path(topic)%></p>
    <% end %>
  </div>


    <%= source_helper("alert alert-info blog-sidebar-source") %>




  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <div class="row">
        <div class="col-sm-6">
          <li><a href="#"><%= fa_icon "github"%></a></li>
          <li><a href="#"><%= fa_icon "facebook"%></a></li>
        </div>
        <div class="col-sm-6">
          <li><a href="#"><%= fa_icon "twitter"%></a></li>
          <li><a href="#"><%= fa_icon "instagram"%></a></li>
        </div>
      </div>
    </ol>
  </div>
</div>
